@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700|Open+Sans:400,600,700,800);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
}

body{	
	background: #383838;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-size: 100%;
	font-weight: 700;
	line-height: 1.4;
	margin: 0px;
	padding: 0px;	
}

.clearfix{
	clear: both;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.container{
	max-width:640px; 
	margin:0 auto;
	position: relative;	
}

.mar-b-8{
	margin-bottom: 8px;	
}

.text-center{
	text-align: center;	
}

.ui-page{
	font-family: inherit;
}

.ui-header .ui-title, 
.ui-footer .ui-title {
	font-weight: 700;
	margin: 0;
	padding-left: 30px;
}

#page {
	margin: 0 auto;
	padding: 0px;
	border: medium none;
}

#header {
	background-color: #fff100;
	
	-webkit-box-shadow: 0px 5px 0px 0px #FCDE69;
	-moz-box-shadow: 0px 5px 0px 0px #FCDE69;
	-ms-box-shadow: 0px 5px 0px 0px #FCDE69;
	-o-box-shadow: 0px 5px 0px 0px #FCDE69;
	box-shadow: 0px 5px 0px 0px #FCDE69;
}

#footer {
	
}

#header-logo{
	display: inline-block;
	width: 45%;
	text-align: center;
}

#header-logo a{
	display:block;
}

.top-icons{
	color: #000000;
	display:inline-block;
	font-size: 1.2em;	
	padding: 12px 0px 0px;
	width:25%;	
}

.top-icons a{
	color: #000000;
	padding: 7px;
	font-weight: 700;		
}

##header-logo, .top-icons{
	float:left;
}

.ti-right{
	float:right;
	text-align: right;
}

#map-canvas{
	height: 20em;
	margin: .25em;
	padding: .25em;
}

#content {
	position:relative;
}

#content:after {
	content:"";
	clear: both;
}

.tile {
	position: relative;
	color: #fff;
}

.tile a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: block;
	z-index: 999;
}

.tile.mini {
	width: 5em;
	height: 5em;
	line-height: 5em;
	text-align: center;
	margin: .25em;
	padding: .25em;
	display: inline-block;
	float: left;
}

.tile-box {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.tile-box img {
	max-width: 100%;
}

.black-text {
	color: #000;
}

/*biplob added*/

.driver-rate{
	cursor: pointer;
	margin: .3125em auto;
	color: #000000;
	padding: .3125em;
	border: .125em solid #000000;
	width: 18.75em;
}

.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}

#job_summary{
	margin-top: .625em;
	padding-top: 1.25em;
	margin: auto;
	padding-bottom: .9375em;
	color: #000;
}

.comments, .mapping{ 
	height:12.5em; 
	width: 18.75em; 
	border: .25em solid #000000; 
	margin: .625em auto;
}

.get-quote-bg{
	background-color:#ffc300;
}

.profile-change-bg{
	background-color:#ff1300;
}

.book-list-bg{
	background-color:#aa1300;
}

.content-position{
	padding: 0.25em 1em;
}
.get-quote-bg h2{ color: #000000;}
.get-quote-bg lable.ui-input-text, 
.get-quote-bg .label-color, 
.get-quote-bg .ui-select{
	 color: #000000;
}

.get-quote-bg .ui-btn{ padding: 3px 0 !important;}

.help-bg{
	background-color:#57bae8;
}

.onduty-bg{
	background-color:#008287;
}

.sign-out-bg{
	background-color:#e05338;
}

.flip-1{ background: #fff; cursor: pointer; color: #000; margin: .5em 0 .5em 0; padding: .55em .25em;}
.flip-1 label{ cursor: pointer;}
.panel-1{ color: #000; padding: .55em .25em;}


 
 div.bcs_margin{ margin: .3125em 0 10em 0 !important;}
 
 /*jahid code*/
 
 div#form_content{
 margin:0 1.56em;}
 
 div.input_bottom_space{
 margin-top:.3125em !important;
 margin-bottom:1.25em !important;
}

#content_up{
 padding:.3125em;
 margin:.25em;
 }
 
.ui-body{ margin: .25em 0;}

.get-quote-bg .ui-btn-inner{
 border-top: 0em solid #fff !important;
}

#dist_button label{
	cursor:pointer;
	}
#my-locatipn {
float: right;
cursor: pointer;
}


#left-button{
	margin-top:-1.25em;
}

.icon-ph {
	color:#000000;
	display: inline-block;
	width: 45px;
	height: 43px;
	padding: 0.812em 0.625em;
	font-weight: normal;
	text-align: center;
	background-color: #999;
	position:absolute;
	left:0px;
	top:0px;
	opacity:.6;
	filter: alpha(opacity=60);
	z-index:3;
  }
 .icon-qh {
	display: inline-block;
	width: auto;
	height: auto;
	min-width: 1em;
	padding: 0.812em 0.625em;
	/*font-size: 30em;*/
	font-weight: normal;
	line-height: 1.25em;
	text-align: center;
	text-shadow: 0 .0625em 0 #ffffff;
	background-color: #000;
	position:absolute;
	right:0em;
	top:0em;
	opacity:.5;

	z-index:3;
  }
 .icon-rh {
	display: inline-block;
	width: auto;
	height: auto;
	min-width: 1em;
	padding: 0.812em 0.625em;
	/*font-size: 30em;*/
	font-weight: normal;
	line-height: 1.25em;
	text-align: center;
	text-shadow: 0 .0625em 0 #ffffff;
	background-color: #000;
	position:absolute;
	left:0em;
	top:0em;
  }
.custom-text {
	padding:.375em 0em .375em 1.875em ;
}
.input-container {
  position:relative;
}

.txt-field{
	width: 31.79em;
	height: 2.55em;
	margin-bottom: 1.25em;
	border: solid 0em #e9e9e9;
	padding-left: 4.06em;
	background: #000;
	opacity: 0.4;
	color: #FFF;

	}
	.input-container input[type=text]{
		
	}
/*.input-container input[type=text]{
	width: 86%;
	height: 4.25em;
	margin-bottom: 1.25em;
	border: solid 0em #e9e9e9;
	padding-left: 6.3125em;
	background: #000;
	opacity: 0.4;
	font-size: 22px;
	color: #FFF;
}

.input-container input[type=password]  {
	width: 17.76em;
	height: 4.25em;
	margin-bottom: 1.25em;
	border: solid 0em #e9e9e9;
	padding-left: 6.3125em;
	background: #000;
	opacity: 0.4;
	font-size: 22px;
	color: #FFF;
}

.input-container input[type=button]{
	height: 5.375em;
	margin-bottom: 1.25em;
	border: solid 0em #e9e9e9;
	background: #dd636d;
	opacity: 0.4;
	font-size: 22px;
	color: #FFF;
	margin-left: 0em;
	cursor: pointer;
	float: left;
	margin-right: .3125em;
}

.input-container button[type=submit]{
	height: 5.375em;
	margin-bottom: 1.25em;
	border: solid 0em #e9e9e9;
	background: #000;
	opacity: 0.8;
	font-size: 22px;
	color: #FFF;
	margin-left: 0em;
	cursor: pointer;
	width: 90%;
	padding:0em;
}



.input-container select{
	height: 5.375em;
	margin-bottom: 1.25em;
	border: solid 0em #e9e9e9;
	background: #000;
	opacity: 0.8;
	font-size: 22px;
	color: #FFF;
	margin-left: 0em;
	cursor: pointer;
	width: 100%;
	padding:0em;
}
*/


.half-width ul{
	margin:0em;
	padding:0em;

	}
.half-width ul li{
	list-style-type:none;	width:48%; float:left; margin-right:.3125em; 
	}
.half-width ul li:last-child{
	list-style-type:none;	width:48%; float:right; margin:0em; 
	}
.button-pointer{
	
	cursor:pointer;
	background:#dd636d;
}
.login-width{
	width:100% !important;}
#login{
	/*width:100%;*/
}

.input-container{
	margin-bottom: 1em;
}

.input-container label, 
.input-container label:before {
	border: none;
	border-radius: 0px;
	content: "" !important;	
}

.input-container input[type=text], 
.input-container input[type=password]  {
	width: 100%;
	height: 44px;
	border: 1px solid #999;
	padding: 0.812em 0.625em 0.812em 4.06em;
	background: #000;
	opacity: 0.4;
	color: #FFF;
	outline: 0;
}

.input-container input[type=text]:focus, 
.input-container input[type=password]:focus {
	box-shadow: inset 0 1px 1px #999, 0 0 4px #999;
}

.input-container button[type=submit], .input-container select,.input-container input[type=button]{
	width:100%; 
	height: 3.5em;
	margin-bottom: 1.25em;
	border: solid 0em #e9e9e9;
	background: #000;
	opacity: 0.8;
	color: #FFF;
	margin-left: 0em;
	cursor: pointer;
	padding: 0;
}
.get-quote-back{
	float: left;
	margin-right: 5px;
	width: 3em !important;
	background: #F00
	!important; opacity: 0.1;
}

.invalid {
 border: 1px solid red;
}

.invalid-data, .err, .success {
 font-style:italic;
 font-size: .75em;
 padding: 3px;
}

.err, .success, .invalid-data {
 border: 1px solid #CC0000;
 background-color: #FFEBEB;
 color: #CC0000;
}
.err, .success {
 padding: 7px;
}
.success {
 color: #003300;
 border-color: #003300;
 background-color: #DEFFDE;
}

#result{
	display:none;
	margin-bottom:.5em;
}

.onoffswitch {
	position: relative; /* width: 100px; */
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	display:none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 0px solid #999999; border-radius: 0px;
}

.onoffswitch-inner {
	width: 200%; margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner > div {
	float: left; position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner .onoffswitch-active {
	padding-left: 15px;
	background-color: GREEN; color: #FFFFFF;
}

.onoffswitch-inner .onoffswitch-inactive {
	padding-right: 15px;
	background-color: GREEN; color: #FFFFFF;
	text-align: right;
}

.onoffswitch-switch {
	width: 200px; margin: 0px; text-align: center; 
	border: 0px solid #999999;border-radius: 0px; 
	position: absolute; top: 0; bottom: 0;
}
.onoffswitch-active .onoffswitch-switch {
	background: GREEN; left: 0;
}
.onoffswitch-inactive .onoffswitch-switch {
	background: #A1A1A1; right: 0;
}

.onoffswitch-active .onoffswitch-switch:before {
	content: " "; position: absolute; top: 0; left: 40px; 
	border-style: solid; border-color: GREEN transparent transparent; border-width: 15px 10px;
}


.onoffswitch-inactive .onoffswitch-switch:before {
	content: " "; position: absolute; top: 0; right: 40px; 
	border-width: 15px 10px;
}


.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

#information{
	background:#FFF;
	padding:15px;	
	position: relative; 
}

#leftInfo{
	font-weight: bold;
	color: rgb(49, 184, 49);
	text-align: center;
	padding-top: 20px;
	padding-bottom:10px;
}

#rightInfo{
	
}

[class*='btn-'] {
	border-radius: 0px;
	color: #fff;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 16px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	
	-webkit-transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
	  transition: background-color 0.1s linear;	
}

	[class*='btn-']:hover {
		cursor: pointer;
	}

	.btn-off {
		background-color: rgb( 51, 102, 204 );
		/*border: 1px solid rgb( 44, 91, 104 );*/	
	}
	
		.btn-off:hover {
			background-color: rgb( 58, 131, 213 );	
		}
		
		.btn-off:active {
			background-color: rgb( 42, 91, 191 );	
		}
		
	.btn-rest {
		background-color: rgb( 74, 61, 117 );
		/*border: 1px solid rgb( 44, 37, 59 );*/
	}
	
		.btn-rest:hover {
			background-color: rgb( 92, 76, 131 );	
		}
		
		.btn-rest:active {
			background-color: rgb( 54, 44, 87 );	
		}




.yellow_circle {
	position: relative;
	margin-top: 2px;
	width: 14px; height: 14px;
	border-radius: 50%;
	background: yellow;
	
	overflow: hidden;
	position: absolute;
	/*top: -1em; right: 50%; bottom: 50%; left: -1em;*/
	transform-origin: 100% 100%;
	transform: rotate(45deg) skewX(30deg);
}


.green_circle {
	position: relative;
	margin-top: 2px;
	width: 14px; height: 14px;
	border-radius: 50%;
	background: #CCEEFF;
	
	overflow: hidden;
	position: absolute;
	/*top: -1em; right: 50%; bottom: 50%; left: -1em;*/
	transform-origin: 100% 100%;
	transform: rotate(45deg) skewX(30deg);
}		
.joboffer{


}
.JobStatus{
	cursor:pointer;
}


/*  LIGHT BOX  */


#lightbox-overlay {
 display: none;
 position: fixed;
 top: 0%;
 left: 0%;
 width: 100%;
 height: 100%;
 background-color: black;
 z-index:1001;
 -moz-opacity: 0.8;
 opacity:.80;
 filter: alpha(opacity=80);
}
.lightbox-container {
 display: none;
 position:fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index:1002;
}
.lightbox-content {
 margin: 90px auto;
 background-color: #eea;
 color: #000;
 padding: 6px;
 border-radius: 10px;
}
.lightbox-content div {
 padding: 10px;
}

#popup-title, .popup-title {
 -webkit-border-top-left-radius: 8px;
 -webkit-border-top-right-radius: 8px;
 -moz-border-radius-topleft: 8px;
 -moz-border-radius-topright: 8px;
 border-top-left-radius: 8px;
 border-top-right-radius: 8px;
 background-color: #000;
 color: #fff;
 font-weight: bold;
}
#popup-content, .popup-content {
 -webkit-border-bottom-left-radius: 8px;
 -webkit-border-bottom-right-radius: 8px;
 -moz-border-radius-bottomleft: 8px;
 -moz-border-radius-bottomright: 8px;
 border-bottom-left-radius: 8px;
 border-bottom-right-radius: 8px;
 border: 1px solid #ccc;
 border-top: 0px;
 margin-top: -1px;
 color: #000;
 background-color: #eee;
}
.buttonContainer {
	padding: 10px;
}

#notification{

height: 200px;
/* width: 100%; */
margin: 10px !important;
text-align: center;
/* padding: 5px !important; */
clear:both;
/* position: absolute; */
/* top */:0px;
}

.projectInfo{
	
}

/* hide input */
input.radio:empty {
	margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* label toggle on */
label {
	background: #FFFFFF;  
  	border-radius: 3px;
  	border: 1px solid #FFFFFF;
	color: #444444;
	font-weight: 700;
  	width: 200px;
}

label:before{
	color: #BBBBBB;
	content:'\2714' !important;
	text-indent: .9em;
}

label.checkedInput:before {	
	color: #FFFFFF;
	background-color: #4DCB6D !important;
}

label.uncheckedInput:before {
	color: #BBBBBB;
	text-indent: .9em;
}

label.onoffswitch-label:before{
	content:'' !important;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

.onButton{
	width: 100px;
	height: 38px;
	line-height: 30px;
	text-align: center;
	margin: .25em;
	padding: .25em;
	display: inline-block;
	background: GREEN;
	cursor : pointer;
}


/*
* Footer Area Navigation Css
*/

#footer .ui-navbar{
	color: #FFFFFF;
	padding: 8px 0px;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

#footer .ui-navbar li a{
	color: #FFFFFF;
	font-size: 1.2em;
	text-transform: capitalize;
}

/*
* @Media Query Css
*/

@media (max-width: 640px) {
	/*#header-logo {
		width: 55%;
	}
	
	#header-logo a img {
		margin: 0 auto 0 20px !important;
	}*/
}